/*@import "./partial/grid";
@import"./partial/size";*/
.mb-00 {
  margin-block-end: 0em;
}

.mt-00 {
  margin-block-start: 0em;
}

.mr-00 {
  margin-inline-end: 0em;
}

.ml-00 {
  margin-inline-start: 0em;
}

@media screen and (min-width: 48em) {
  .mb-00_sm {
    margin-block-end: 0em;
  }

  .mt-00_sm {
    margin-block-start: 0em;
  }

  .mr-00_sm {
    margin-inline-end: 0em;
  }

  .ml-00_sm {
    margin-inline-start: 0em;
  }
}

@media screen and (min-width: 64em) {
  .mb-00_md {
    margin-block-end: 0em;
  }

  .mt-00_md {
    margin-block-start: 0em;
  }

  .mr-00_md {
    margin-inline-end: 0em;
  }

  .ml-00_md {
    margin-inline-start: 0em;
  }
}

.mb-05 {
  margin-block-end: 0.5em;
}

.mt-05 {
  margin-block-start: 0.5em;
}

.mr-05 {
  margin-inline-end: 0.5em;
}

.ml-05 {
  margin-inline-start: 0.5em;
}

@media screen and (min-width: 48em) {
  .mb-05_sm {
    margin-block-end: 0.5em;
  }

  .mt-05_sm {
    margin-block-start: 0.5em;
  }

  .mr-05_sm {
    margin-inline-end: 0.5em;
  }

  .ml-05_sm {
    margin-inline-start: 0.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-05_md {
    margin-block-end: 0.5em;
  }

  .mt-05_md {
    margin-block-start: 0.5em;
  }

  .mr-05_md {
    margin-inline-end: 0.5em;
  }

  .ml-05_md {
    margin-inline-start: 0.5em;
  }
}

.mb-10 {
  margin-block-end: 1em;
}

.mt-10 {
  margin-block-start: 1em;
}

.mr-10 {
  margin-inline-end: 1em;
}

.ml-10 {
  margin-inline-start: 1em;
}

@media screen and (min-width: 48em) {
  .mb-10_sm {
    margin-block-end: 1em;
  }

  .mt-10_sm {
    margin-block-start: 1em;
  }

  .mr-10_sm {
    margin-inline-end: 1em;
  }

  .ml-10_sm {
    margin-inline-start: 1em;
  }
}

@media screen and (min-width: 64em) {
  .mb-10_md {
    margin-block-end: 1em;
  }

  .mt-10_md {
    margin-block-start: 1em;
  }

  .mr-10_md {
    margin-inline-end: 1em;
  }

  .ml-10_md {
    margin-inline-start: 1em;
  }
}

.mb-15 {
  margin-block-end: 1.5em;
}

.mt-15 {
  margin-block-start: 1.5em;
}

.mr-15 {
  margin-inline-end: 1.5em;
}

.ml-15 {
  margin-inline-start: 1.5em;
}

@media screen and (min-width: 48em) {
  .mb-15_sm {
    margin-block-end: 1.5em;
  }

  .mt-15_sm {
    margin-block-start: 1.5em;
  }

  .mr-15_sm {
    margin-inline-end: 1.5em;
  }

  .ml-15_sm {
    margin-inline-start: 1.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-15_md {
    margin-block-end: 1.5em;
  }

  .mt-15_md {
    margin-block-start: 1.5em;
  }

  .mr-15_md {
    margin-inline-end: 1.5em;
  }

  .ml-15_md {
    margin-inline-start: 1.5em;
  }
}

.mb-20 {
  margin-block-end: 2em;
}

.mt-20 {
  margin-block-start: 2em;
}

.mr-20 {
  margin-inline-end: 2em;
}

.ml-20 {
  margin-inline-start: 2em;
}

@media screen and (min-width: 48em) {
  .mb-20_sm {
    margin-block-end: 2em;
  }

  .mt-20_sm {
    margin-block-start: 2em;
  }

  .mr-20_sm {
    margin-inline-end: 2em;
  }

  .ml-20_sm {
    margin-inline-start: 2em;
  }
}

@media screen and (min-width: 64em) {
  .mb-20_md {
    margin-block-end: 2em;
  }

  .mt-20_md {
    margin-block-start: 2em;
  }

  .mr-20_md {
    margin-inline-end: 2em;
  }

  .ml-20_md {
    margin-inline-start: 2em;
  }
}

.mb-25 {
  margin-block-end: 2.5em;
}

.mt-25 {
  margin-block-start: 2.5em;
}

.mr-25 {
  margin-inline-end: 2.5em;
}

.ml-25 {
  margin-inline-start: 2.5em;
}

@media screen and (min-width: 48em) {
  .mb-25_sm {
    margin-block-end: 2.5em;
  }

  .mt-25_sm {
    margin-block-start: 2.5em;
  }

  .mr-25_sm {
    margin-inline-end: 2.5em;
  }

  .ml-25_sm {
    margin-inline-start: 2.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-25_md {
    margin-block-end: 2.5em;
  }

  .mt-25_md {
    margin-block-start: 2.5em;
  }

  .mr-25_md {
    margin-inline-end: 2.5em;
  }

  .ml-25_md {
    margin-inline-start: 2.5em;
  }
}

.mb-30 {
  margin-block-end: 3em;
}

.mt-30 {
  margin-block-start: 3em;
}

.mr-30 {
  margin-inline-end: 3em;
}

.ml-30 {
  margin-inline-start: 3em;
}

@media screen and (min-width: 48em) {
  .mb-30_sm {
    margin-block-end: 3em;
  }

  .mt-30_sm {
    margin-block-start: 3em;
  }

  .mr-30_sm {
    margin-inline-end: 3em;
  }

  .ml-30_sm {
    margin-inline-start: 3em;
  }
}

@media screen and (min-width: 64em) {
  .mb-30_md {
    margin-block-end: 3em;
  }

  .mt-30_md {
    margin-block-start: 3em;
  }

  .mr-30_md {
    margin-inline-end: 3em;
  }

  .ml-30_md {
    margin-inline-start: 3em;
  }
}

.mb-35 {
  margin-block-end: 3.5em;
}

.mt-35 {
  margin-block-start: 3.5em;
}

.mr-35 {
  margin-inline-end: 3.5em;
}

.ml-35 {
  margin-inline-start: 3.5em;
}

@media screen and (min-width: 48em) {
  .mb-35_sm {
    margin-block-end: 3.5em;
  }

  .mt-35_sm {
    margin-block-start: 3.5em;
  }

  .mr-35_sm {
    margin-inline-end: 3.5em;
  }

  .ml-35_sm {
    margin-inline-start: 3.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-35_md {
    margin-block-end: 3.5em;
  }

  .mt-35_md {
    margin-block-start: 3.5em;
  }

  .mr-35_md {
    margin-inline-end: 3.5em;
  }

  .ml-35_md {
    margin-inline-start: 3.5em;
  }
}

.mb-40 {
  margin-block-end: 4em;
}

.mt-40 {
  margin-block-start: 4em;
}

.mr-40 {
  margin-inline-end: 4em;
}

.ml-40 {
  margin-inline-start: 4em;
}

@media screen and (min-width: 48em) {
  .mb-40_sm {
    margin-block-end: 4em;
  }

  .mt-40_sm {
    margin-block-start: 4em;
  }

  .mr-40_sm {
    margin-inline-end: 4em;
  }

  .ml-40_sm {
    margin-inline-start: 4em;
  }
}

@media screen and (min-width: 64em) {
  .mb-40_md {
    margin-block-end: 4em;
  }

  .mt-40_md {
    margin-block-start: 4em;
  }

  .mr-40_md {
    margin-inline-end: 4em;
  }

  .ml-40_md {
    margin-inline-start: 4em;
  }
}

.mb-45 {
  margin-block-end: 4.5em;
}

.mt-45 {
  margin-block-start: 4.5em;
}

.mr-45 {
  margin-inline-end: 4.5em;
}

.ml-45 {
  margin-inline-start: 4.5em;
}

@media screen and (min-width: 48em) {
  .mb-45_sm {
    margin-block-end: 4.5em;
  }

  .mt-45_sm {
    margin-block-start: 4.5em;
  }

  .mr-45_sm {
    margin-inline-end: 4.5em;
  }

  .ml-45_sm {
    margin-inline-start: 4.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-45_md {
    margin-block-end: 4.5em;
  }

  .mt-45_md {
    margin-block-start: 4.5em;
  }

  .mr-45_md {
    margin-inline-end: 4.5em;
  }

  .ml-45_md {
    margin-inline-start: 4.5em;
  }
}

.mb-50 {
  margin-block-end: 5em;
}

.mt-50 {
  margin-block-start: 5em;
}

.mr-50 {
  margin-inline-end: 5em;
}

.ml-50 {
  margin-inline-start: 5em;
}

@media screen and (min-width: 48em) {
  .mb-50_sm {
    margin-block-end: 5em;
  }

  .mt-50_sm {
    margin-block-start: 5em;
  }

  .mr-50_sm {
    margin-inline-end: 5em;
  }

  .ml-50_sm {
    margin-inline-start: 5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-50_md {
    margin-block-end: 5em;
  }

  .mt-50_md {
    margin-block-start: 5em;
  }

  .mr-50_md {
    margin-inline-end: 5em;
  }

  .ml-50_md {
    margin-inline-start: 5em;
  }
}

.mb-55 {
  margin-block-end: 5.5em;
}

.mt-55 {
  margin-block-start: 5.5em;
}

.mr-55 {
  margin-inline-end: 5.5em;
}

.ml-55 {
  margin-inline-start: 5.5em;
}

@media screen and (min-width: 48em) {
  .mb-55_sm {
    margin-block-end: 5.5em;
  }

  .mt-55_sm {
    margin-block-start: 5.5em;
  }

  .mr-55_sm {
    margin-inline-end: 5.5em;
  }

  .ml-55_sm {
    margin-inline-start: 5.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-55_md {
    margin-block-end: 5.5em;
  }

  .mt-55_md {
    margin-block-start: 5.5em;
  }

  .mr-55_md {
    margin-inline-end: 5.5em;
  }

  .ml-55_md {
    margin-inline-start: 5.5em;
  }
}

.mb-60 {
  margin-block-end: 6em;
}

.mt-60 {
  margin-block-start: 6em;
}

.mr-60 {
  margin-inline-end: 6em;
}

.ml-60 {
  margin-inline-start: 6em;
}

@media screen and (min-width: 48em) {
  .mb-60_sm {
    margin-block-end: 6em;
  }

  .mt-60_sm {
    margin-block-start: 6em;
  }

  .mr-60_sm {
    margin-inline-end: 6em;
  }

  .ml-60_sm {
    margin-inline-start: 6em;
  }
}

@media screen and (min-width: 64em) {
  .mb-60_md {
    margin-block-end: 6em;
  }

  .mt-60_md {
    margin-block-start: 6em;
  }

  .mr-60_md {
    margin-inline-end: 6em;
  }

  .ml-60_md {
    margin-inline-start: 6em;
  }
}

.mb-65 {
  margin-block-end: 6.5em;
}

.mt-65 {
  margin-block-start: 6.5em;
}

.mr-65 {
  margin-inline-end: 6.5em;
}

.ml-65 {
  margin-inline-start: 6.5em;
}

@media screen and (min-width: 48em) {
  .mb-65_sm {
    margin-block-end: 6.5em;
  }

  .mt-65_sm {
    margin-block-start: 6.5em;
  }

  .mr-65_sm {
    margin-inline-end: 6.5em;
  }

  .ml-65_sm {
    margin-inline-start: 6.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-65_md {
    margin-block-end: 6.5em;
  }

  .mt-65_md {
    margin-block-start: 6.5em;
  }

  .mr-65_md {
    margin-inline-end: 6.5em;
  }

  .ml-65_md {
    margin-inline-start: 6.5em;
  }
}

.mb-70 {
  margin-block-end: 7em;
}

.mt-70 {
  margin-block-start: 7em;
}

.mr-70 {
  margin-inline-end: 7em;
}

.ml-70 {
  margin-inline-start: 7em;
}

@media screen and (min-width: 48em) {
  .mb-70_sm {
    margin-block-end: 7em;
  }

  .mt-70_sm {
    margin-block-start: 7em;
  }

  .mr-70_sm {
    margin-inline-end: 7em;
  }

  .ml-70_sm {
    margin-inline-start: 7em;
  }
}

@media screen and (min-width: 64em) {
  .mb-70_md {
    margin-block-end: 7em;
  }

  .mt-70_md {
    margin-block-start: 7em;
  }

  .mr-70_md {
    margin-inline-end: 7em;
  }

  .ml-70_md {
    margin-inline-start: 7em;
  }
}

.mb-75 {
  margin-block-end: 7.5em;
}

.mt-75 {
  margin-block-start: 7.5em;
}

.mr-75 {
  margin-inline-end: 7.5em;
}

.ml-75 {
  margin-inline-start: 7.5em;
}

@media screen and (min-width: 48em) {
  .mb-75_sm {
    margin-block-end: 7.5em;
  }

  .mt-75_sm {
    margin-block-start: 7.5em;
  }

  .mr-75_sm {
    margin-inline-end: 7.5em;
  }

  .ml-75_sm {
    margin-inline-start: 7.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-75_md {
    margin-block-end: 7.5em;
  }

  .mt-75_md {
    margin-block-start: 7.5em;
  }

  .mr-75_md {
    margin-inline-end: 7.5em;
  }

  .ml-75_md {
    margin-inline-start: 7.5em;
  }
}

.mb-80 {
  margin-block-end: 8em;
}

.mt-80 {
  margin-block-start: 8em;
}

.mr-80 {
  margin-inline-end: 8em;
}

.ml-80 {
  margin-inline-start: 8em;
}

@media screen and (min-width: 48em) {
  .mb-80_sm {
    margin-block-end: 8em;
  }

  .mt-80_sm {
    margin-block-start: 8em;
  }

  .mr-80_sm {
    margin-inline-end: 8em;
  }

  .ml-80_sm {
    margin-inline-start: 8em;
  }
}

@media screen and (min-width: 64em) {
  .mb-80_md {
    margin-block-end: 8em;
  }

  .mt-80_md {
    margin-block-start: 8em;
  }

  .mr-80_md {
    margin-inline-end: 8em;
  }

  .ml-80_md {
    margin-inline-start: 8em;
  }
}

.mb-85 {
  margin-block-end: 8.5em;
}

.mt-85 {
  margin-block-start: 8.5em;
}

.mr-85 {
  margin-inline-end: 8.5em;
}

.ml-85 {
  margin-inline-start: 8.5em;
}

@media screen and (min-width: 48em) {
  .mb-85_sm {
    margin-block-end: 8.5em;
  }

  .mt-85_sm {
    margin-block-start: 8.5em;
  }

  .mr-85_sm {
    margin-inline-end: 8.5em;
  }

  .ml-85_sm {
    margin-inline-start: 8.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-85_md {
    margin-block-end: 8.5em;
  }

  .mt-85_md {
    margin-block-start: 8.5em;
  }

  .mr-85_md {
    margin-inline-end: 8.5em;
  }

  .ml-85_md {
    margin-inline-start: 8.5em;
  }
}

.mb-90 {
  margin-block-end: 9em;
}

.mt-90 {
  margin-block-start: 9em;
}

.mr-90 {
  margin-inline-end: 9em;
}

.ml-90 {
  margin-inline-start: 9em;
}

@media screen and (min-width: 48em) {
  .mb-90_sm {
    margin-block-end: 9em;
  }

  .mt-90_sm {
    margin-block-start: 9em;
  }

  .mr-90_sm {
    margin-inline-end: 9em;
  }

  .ml-90_sm {
    margin-inline-start: 9em;
  }
}

@media screen and (min-width: 64em) {
  .mb-90_md {
    margin-block-end: 9em;
  }

  .mt-90_md {
    margin-block-start: 9em;
  }

  .mr-90_md {
    margin-inline-end: 9em;
  }

  .ml-90_md {
    margin-inline-start: 9em;
  }
}

.mb-95 {
  margin-block-end: 9.5em;
}

.mt-95 {
  margin-block-start: 9.5em;
}

.mr-95 {
  margin-inline-end: 9.5em;
}

.ml-95 {
  margin-inline-start: 9.5em;
}

@media screen and (min-width: 48em) {
  .mb-95_sm {
    margin-block-end: 9.5em;
  }

  .mt-95_sm {
    margin-block-start: 9.5em;
  }

  .mr-95_sm {
    margin-inline-end: 9.5em;
  }

  .ml-95_sm {
    margin-inline-start: 9.5em;
  }
}

@media screen and (min-width: 64em) {
  .mb-95_md {
    margin-block-end: 9.5em;
  }

  .mt-95_md {
    margin-block-start: 9.5em;
  }

  .mr-95_md {
    margin-inline-end: 9.5em;
  }

  .ml-95_md {
    margin-inline-start: 9.5em;
  }
}

.mb-100 {
  margin-block-end: 10em;
}

.mt-100 {
  margin-block-start: 10em;
}

.mr-100 {
  margin-inline-end: 10em;
}

.ml-100 {
  margin-inline-start: 10em;
}

@media screen and (min-width: 48em) {
  .mb-100_sm {
    margin-block-end: 10em;
  }

  .mt-100_sm {
    margin-block-start: 10em;
  }

  .mr-100_sm {
    margin-inline-end: 10em;
  }

  .ml-100_sm {
    margin-inline-start: 10em;
  }
}

@media screen and (min-width: 64em) {
  .mb-100_md {
    margin-block-end: 10em;
  }

  .mt-100_md {
    margin-block-start: 10em;
  }

  .mr-100_md {
    margin-inline-end: 10em;
  }

  .ml-100_md {
    margin-inline-start: 10em;
  }
}

.pb-00 {
  padding-block-end: 0em;
}

.pt-00 {
  padding-block-start: 0em;
}

.pr-00 {
  padding-inline-end: 0em;
}

.pl-00 {
  padding-inline-start: 0em;
}

@media screen and (min-width: 48em) {
  .pb-00_sm {
    padding-block-end: 0em;
  }

  .pt-00_sm {
    padding-block-start: 0em;
  }

  .pr-00_sm {
    padding-inline-end: 0em;
  }

  .pl-00_sm {
    padding-inline-start: 0em;
  }
}

@media screen and (min-width: 64em) {
  .pb-00_md {
    padding-block-end: 0em;
  }

  .pt-00_md {
    padding-block-start: 0em;
  }

  .pr-00_md {
    padding-inline-end: 0em;
  }

  .pl-00_md {
    padding-inline-start: 0em;
  }
}

.pb-05 {
  padding-block-end: 0.5em;
}

.pt-05 {
  padding-block-start: 0.5em;
}

.pr-05 {
  padding-inline-end: 0.5em;
}

.pl-05 {
  padding-inline-start: 0.5em;
}

@media screen and (min-width: 48em) {
  .pb-05_sm {
    padding-block-end: 0.5em;
  }

  .pt-05_sm {
    padding-block-start: 0.5em;
  }

  .pr-05_sm {
    padding-inline-end: 0.5em;
  }

  .pl-05_sm {
    padding-inline-start: 0.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-05_md {
    padding-block-end: 0.5em;
  }

  .pt-05_md {
    padding-block-start: 0.5em;
  }

  .pr-05_md {
    padding-inline-end: 0.5em;
  }

  .pl-05_md {
    padding-inline-start: 0.5em;
  }
}

.pb-10 {
  padding-block-end: 1em;
}

.pt-10 {
  padding-block-start: 1em;
}

.pr-10 {
  padding-inline-end: 1em;
}

.pl-10 {
  padding-inline-start: 1em;
}

@media screen and (min-width: 48em) {
  .pb-10_sm {
    padding-block-end: 1em;
  }

  .pt-10_sm {
    padding-block-start: 1em;
  }

  .pr-10_sm {
    padding-inline-end: 1em;
  }

  .pl-10_sm {
    padding-inline-start: 1em;
  }
}

@media screen and (min-width: 64em) {
  .pb-10_md {
    padding-block-end: 1em;
  }

  .pt-10_md {
    padding-block-start: 1em;
  }

  .pr-10_md {
    padding-inline-end: 1em;
  }

  .pl-10_md {
    padding-inline-start: 1em;
  }
}

.pb-15 {
  padding-block-end: 1.5em;
}

.pt-15 {
  padding-block-start: 1.5em;
}

.pr-15 {
  padding-inline-end: 1.5em;
}

.pl-15 {
  padding-inline-start: 1.5em;
}

@media screen and (min-width: 48em) {
  .pb-15_sm {
    padding-block-end: 1.5em;
  }

  .pt-15_sm {
    padding-block-start: 1.5em;
  }

  .pr-15_sm {
    padding-inline-end: 1.5em;
  }

  .pl-15_sm {
    padding-inline-start: 1.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-15_md {
    padding-block-end: 1.5em;
  }

  .pt-15_md {
    padding-block-start: 1.5em;
  }

  .pr-15_md {
    padding-inline-end: 1.5em;
  }

  .pl-15_md {
    padding-inline-start: 1.5em;
  }
}

.pb-20 {
  padding-block-end: 2em;
}

.pt-20 {
  padding-block-start: 2em;
}

.pr-20 {
  padding-inline-end: 2em;
}

.pl-20 {
  padding-inline-start: 2em;
}

@media screen and (min-width: 48em) {
  .pb-20_sm {
    padding-block-end: 2em;
  }

  .pt-20_sm {
    padding-block-start: 2em;
  }

  .pr-20_sm {
    padding-inline-end: 2em;
  }

  .pl-20_sm {
    padding-inline-start: 2em;
  }
}

@media screen and (min-width: 64em) {
  .pb-20_md {
    padding-block-end: 2em;
  }

  .pt-20_md {
    padding-block-start: 2em;
  }

  .pr-20_md {
    padding-inline-end: 2em;
  }

  .pl-20_md {
    padding-inline-start: 2em;
  }
}

.pb-25 {
  padding-block-end: 2.5em;
}

.pt-25 {
  padding-block-start: 2.5em;
}

.pr-25 {
  padding-inline-end: 2.5em;
}

.pl-25 {
  padding-inline-start: 2.5em;
}

@media screen and (min-width: 48em) {
  .pb-25_sm {
    padding-block-end: 2.5em;
  }

  .pt-25_sm {
    padding-block-start: 2.5em;
  }

  .pr-25_sm {
    padding-inline-end: 2.5em;
  }

  .pl-25_sm {
    padding-inline-start: 2.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-25_md {
    padding-block-end: 2.5em;
  }

  .pt-25_md {
    padding-block-start: 2.5em;
  }

  .pr-25_md {
    padding-inline-end: 2.5em;
  }

  .pl-25_md {
    padding-inline-start: 2.5em;
  }
}

.pb-30 {
  padding-block-end: 3em;
}

.pt-30 {
  padding-block-start: 3em;
}

.pr-30 {
  padding-inline-end: 3em;
}

.pl-30 {
  padding-inline-start: 3em;
}

@media screen and (min-width: 48em) {
  .pb-30_sm {
    padding-block-end: 3em;
  }

  .pt-30_sm {
    padding-block-start: 3em;
  }

  .pr-30_sm {
    padding-inline-end: 3em;
  }

  .pl-30_sm {
    padding-inline-start: 3em;
  }
}

@media screen and (min-width: 64em) {
  .pb-30_md {
    padding-block-end: 3em;
  }

  .pt-30_md {
    padding-block-start: 3em;
  }

  .pr-30_md {
    padding-inline-end: 3em;
  }

  .pl-30_md {
    padding-inline-start: 3em;
  }
}

.pb-35 {
  padding-block-end: 3.5em;
}

.pt-35 {
  padding-block-start: 3.5em;
}

.pr-35 {
  padding-inline-end: 3.5em;
}

.pl-35 {
  padding-inline-start: 3.5em;
}

@media screen and (min-width: 48em) {
  .pb-35_sm {
    padding-block-end: 3.5em;
  }

  .pt-35_sm {
    padding-block-start: 3.5em;
  }

  .pr-35_sm {
    padding-inline-end: 3.5em;
  }

  .pl-35_sm {
    padding-inline-start: 3.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-35_md {
    padding-block-end: 3.5em;
  }

  .pt-35_md {
    padding-block-start: 3.5em;
  }

  .pr-35_md {
    padding-inline-end: 3.5em;
  }

  .pl-35_md {
    padding-inline-start: 3.5em;
  }
}

.pb-40 {
  padding-block-end: 4em;
}

.pt-40 {
  padding-block-start: 4em;
}

.pr-40 {
  padding-inline-end: 4em;
}

.pl-40 {
  padding-inline-start: 4em;
}

@media screen and (min-width: 48em) {
  .pb-40_sm {
    padding-block-end: 4em;
  }

  .pt-40_sm {
    padding-block-start: 4em;
  }

  .pr-40_sm {
    padding-inline-end: 4em;
  }

  .pl-40_sm {
    padding-inline-start: 4em;
  }
}

@media screen and (min-width: 64em) {
  .pb-40_md {
    padding-block-end: 4em;
  }

  .pt-40_md {
    padding-block-start: 4em;
  }

  .pr-40_md {
    padding-inline-end: 4em;
  }

  .pl-40_md {
    padding-inline-start: 4em;
  }
}

.pb-45 {
  padding-block-end: 4.5em;
}

.pt-45 {
  padding-block-start: 4.5em;
}

.pr-45 {
  padding-inline-end: 4.5em;
}

.pl-45 {
  padding-inline-start: 4.5em;
}

@media screen and (min-width: 48em) {
  .pb-45_sm {
    padding-block-end: 4.5em;
  }

  .pt-45_sm {
    padding-block-start: 4.5em;
  }

  .pr-45_sm {
    padding-inline-end: 4.5em;
  }

  .pl-45_sm {
    padding-inline-start: 4.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-45_md {
    padding-block-end: 4.5em;
  }

  .pt-45_md {
    padding-block-start: 4.5em;
  }

  .pr-45_md {
    padding-inline-end: 4.5em;
  }

  .pl-45_md {
    padding-inline-start: 4.5em;
  }
}

.pb-50 {
  padding-block-end: 5em;
}

.pt-50 {
  padding-block-start: 5em;
}

.pr-50 {
  padding-inline-end: 5em;
}

.pl-50 {
  padding-inline-start: 5em;
}

@media screen and (min-width: 48em) {
  .pb-50_sm {
    padding-block-end: 5em;
  }

  .pt-50_sm {
    padding-block-start: 5em;
  }

  .pr-50_sm {
    padding-inline-end: 5em;
  }

  .pl-50_sm {
    padding-inline-start: 5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-50_md {
    padding-block-end: 5em;
  }

  .pt-50_md {
    padding-block-start: 5em;
  }

  .pr-50_md {
    padding-inline-end: 5em;
  }

  .pl-50_md {
    padding-inline-start: 5em;
  }
}

.pb-55 {
  padding-block-end: 5.5em;
}

.pt-55 {
  padding-block-start: 5.5em;
}

.pr-55 {
  padding-inline-end: 5.5em;
}

.pl-55 {
  padding-inline-start: 5.5em;
}

@media screen and (min-width: 48em) {
  .pb-55_sm {
    padding-block-end: 5.5em;
  }

  .pt-55_sm {
    padding-block-start: 5.5em;
  }

  .pr-55_sm {
    padding-inline-end: 5.5em;
  }

  .pl-55_sm {
    padding-inline-start: 5.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-55_md {
    padding-block-end: 5.5em;
  }

  .pt-55_md {
    padding-block-start: 5.5em;
  }

  .pr-55_md {
    padding-inline-end: 5.5em;
  }

  .pl-55_md {
    padding-inline-start: 5.5em;
  }
}

.pb-60 {
  padding-block-end: 6em;
}

.pt-60 {
  padding-block-start: 6em;
}

.pr-60 {
  padding-inline-end: 6em;
}

.pl-60 {
  padding-inline-start: 6em;
}

@media screen and (min-width: 48em) {
  .pb-60_sm {
    padding-block-end: 6em;
  }

  .pt-60_sm {
    padding-block-start: 6em;
  }

  .pr-60_sm {
    padding-inline-end: 6em;
  }

  .pl-60_sm {
    padding-inline-start: 6em;
  }
}

@media screen and (min-width: 64em) {
  .pb-60_md {
    padding-block-end: 6em;
  }

  .pt-60_md {
    padding-block-start: 6em;
  }

  .pr-60_md {
    padding-inline-end: 6em;
  }

  .pl-60_md {
    padding-inline-start: 6em;
  }
}

.pb-65 {
  padding-block-end: 6.5em;
}

.pt-65 {
  padding-block-start: 6.5em;
}

.pr-65 {
  padding-inline-end: 6.5em;
}

.pl-65 {
  padding-inline-start: 6.5em;
}

@media screen and (min-width: 48em) {
  .pb-65_sm {
    padding-block-end: 6.5em;
  }

  .pt-65_sm {
    padding-block-start: 6.5em;
  }

  .pr-65_sm {
    padding-inline-end: 6.5em;
  }

  .pl-65_sm {
    padding-inline-start: 6.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-65_md {
    padding-block-end: 6.5em;
  }

  .pt-65_md {
    padding-block-start: 6.5em;
  }

  .pr-65_md {
    padding-inline-end: 6.5em;
  }

  .pl-65_md {
    padding-inline-start: 6.5em;
  }
}

.pb-70 {
  padding-block-end: 7em;
}

.pt-70 {
  padding-block-start: 7em;
}

.pr-70 {
  padding-inline-end: 7em;
}

.pl-70 {
  padding-inline-start: 7em;
}

@media screen and (min-width: 48em) {
  .pb-70_sm {
    padding-block-end: 7em;
  }

  .pt-70_sm {
    padding-block-start: 7em;
  }

  .pr-70_sm {
    padding-inline-end: 7em;
  }

  .pl-70_sm {
    padding-inline-start: 7em;
  }
}

@media screen and (min-width: 64em) {
  .pb-70_md {
    padding-block-end: 7em;
  }

  .pt-70_md {
    padding-block-start: 7em;
  }

  .pr-70_md {
    padding-inline-end: 7em;
  }

  .pl-70_md {
    padding-inline-start: 7em;
  }
}

.pb-75 {
  padding-block-end: 7.5em;
}

.pt-75 {
  padding-block-start: 7.5em;
}

.pr-75 {
  padding-inline-end: 7.5em;
}

.pl-75 {
  padding-inline-start: 7.5em;
}

@media screen and (min-width: 48em) {
  .pb-75_sm {
    padding-block-end: 7.5em;
  }

  .pt-75_sm {
    padding-block-start: 7.5em;
  }

  .pr-75_sm {
    padding-inline-end: 7.5em;
  }

  .pl-75_sm {
    padding-inline-start: 7.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-75_md {
    padding-block-end: 7.5em;
  }

  .pt-75_md {
    padding-block-start: 7.5em;
  }

  .pr-75_md {
    padding-inline-end: 7.5em;
  }

  .pl-75_md {
    padding-inline-start: 7.5em;
  }
}

.pb-80 {
  padding-block-end: 8em;
}

.pt-80 {
  padding-block-start: 8em;
}

.pr-80 {
  padding-inline-end: 8em;
}

.pl-80 {
  padding-inline-start: 8em;
}

@media screen and (min-width: 48em) {
  .pb-80_sm {
    padding-block-end: 8em;
  }

  .pt-80_sm {
    padding-block-start: 8em;
  }

  .pr-80_sm {
    padding-inline-end: 8em;
  }

  .pl-80_sm {
    padding-inline-start: 8em;
  }
}

@media screen and (min-width: 64em) {
  .pb-80_md {
    padding-block-end: 8em;
  }

  .pt-80_md {
    padding-block-start: 8em;
  }

  .pr-80_md {
    padding-inline-end: 8em;
  }

  .pl-80_md {
    padding-inline-start: 8em;
  }
}

.pb-85 {
  padding-block-end: 8.5em;
}

.pt-85 {
  padding-block-start: 8.5em;
}

.pr-85 {
  padding-inline-end: 8.5em;
}

.pl-85 {
  padding-inline-start: 8.5em;
}

@media screen and (min-width: 48em) {
  .pb-85_sm {
    padding-block-end: 8.5em;
  }

  .pt-85_sm {
    padding-block-start: 8.5em;
  }

  .pr-85_sm {
    padding-inline-end: 8.5em;
  }

  .pl-85_sm {
    padding-inline-start: 8.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-85_md {
    padding-block-end: 8.5em;
  }

  .pt-85_md {
    padding-block-start: 8.5em;
  }

  .pr-85_md {
    padding-inline-end: 8.5em;
  }

  .pl-85_md {
    padding-inline-start: 8.5em;
  }
}

.pb-90 {
  padding-block-end: 9em;
}

.pt-90 {
  padding-block-start: 9em;
}

.pr-90 {
  padding-inline-end: 9em;
}

.pl-90 {
  padding-inline-start: 9em;
}

@media screen and (min-width: 48em) {
  .pb-90_sm {
    padding-block-end: 9em;
  }

  .pt-90_sm {
    padding-block-start: 9em;
  }

  .pr-90_sm {
    padding-inline-end: 9em;
  }

  .pl-90_sm {
    padding-inline-start: 9em;
  }
}

@media screen and (min-width: 64em) {
  .pb-90_md {
    padding-block-end: 9em;
  }

  .pt-90_md {
    padding-block-start: 9em;
  }

  .pr-90_md {
    padding-inline-end: 9em;
  }

  .pl-90_md {
    padding-inline-start: 9em;
  }
}

.pb-95 {
  padding-block-end: 9.5em;
}

.pt-95 {
  padding-block-start: 9.5em;
}

.pr-95 {
  padding-inline-end: 9.5em;
}

.pl-95 {
  padding-inline-start: 9.5em;
}

@media screen and (min-width: 48em) {
  .pb-95_sm {
    padding-block-end: 9.5em;
  }

  .pt-95_sm {
    padding-block-start: 9.5em;
  }

  .pr-95_sm {
    padding-inline-end: 9.5em;
  }

  .pl-95_sm {
    padding-inline-start: 9.5em;
  }
}

@media screen and (min-width: 64em) {
  .pb-95_md {
    padding-block-end: 9.5em;
  }

  .pt-95_md {
    padding-block-start: 9.5em;
  }

  .pr-95_md {
    padding-inline-end: 9.5em;
  }

  .pl-95_md {
    padding-inline-start: 9.5em;
  }
}

.pb-100 {
  padding-block-end: 10em;
}

.pt-100 {
  padding-block-start: 10em;
}

.pr-100 {
  padding-inline-end: 10em;
}

.pl-100 {
  padding-inline-start: 10em;
}

@media screen and (min-width: 48em) {
  .pb-100_sm {
    padding-block-end: 10em;
  }

  .pt-100_sm {
    padding-block-start: 10em;
  }

  .pr-100_sm {
    padding-inline-end: 10em;
  }

  .pl-100_sm {
    padding-inline-start: 10em;
  }
}

@media screen and (min-width: 64em) {
  .pb-100_md {
    padding-block-end: 10em;
  }

  .pt-100_md {
    padding-block-start: 10em;
  }

  .pr-100_md {
    padding-inline-end: 10em;
  }

  .pl-100_md {
    padding-inline-start: 10em;
  }
}
